.navbar {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  padding: 0 20px; /* Add padding to the navbar */
}

header {
  display: flex;
  align-items: center; /* Center items vertically */
}

header > img {
  width: 200px;
  height: 100px;
}

.item > ul {
  color: white;
  cursor: pointer;
  display: flex;
  list-style-type: none;
  font-size: x-large;
  margin-left: 20px; /* Add margin to the right of the item */
}


.item > ul > li {
  position: relative;
  padding-right: 20px;
  margin: 20px;/* Add margin around each item */
}
.item > ul > li:hover {
  text-decoration: underline;
}
.item > ul > li i {
  position: absolute;
margin: 8px;
  
}

.right-item {
  display: flex;
  margin-left:40%; 
  align-items: center; /* Center items vertically */
}
.right-item >li{
  color: white;
  font-size: x-large;
  list-style-type: none;
  margin-right: 30px;
  cursor: pointer;
  
}
.right-item>li:hover{
  text-decoration: underline;
}


.right-item > button {
margin: 20px;
font-size: large;
padding: 15px;
background-color: black;
border: 1px solid white;
color: white;
cursor: pointer;
border-radius: 4px;
font-weight: 500;
}
